ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li{
    float: left;
}
li,a{
    padding: 20px;
    margin-left:15 px;
    color: darkviolet;
    background-color: gray;
}
a:hover{
    background-color: aqua;
}
ul{
    padding: 50px;
}
th,td{
    border: 10px solid red;
    padding: 5px;
    font-family: Chilanka;
    padding: 15px;
}
table{
    width: 100%;
    border-collapse: collapse;
    background-color: chartreuse;

}